*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 5px;
    padding: 4px;
    background-color: rgb(231, 226, 219);
}

table{
    border: 1px solid #000;
}
th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
}

a{
    display: inline-block;
    vertical-align: top;
}

footer{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}

.icons{
    display: inline;
    width:20px;
    height:20px;
    margin: 0%;
    padding: 2px;
}
